{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/jplayer.css" />
{% endblock %}
{% block body %}
<header id="header" class="col-full">
    <div id="logo">
        <h1 class="site-title">Site web marchand - Page Article : </h1>
    </div>
    <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
            <span>Menu</span>
        </button>
        <div class="menu">
            <ul class="nav-menu">
                <li class="page_item page-item-1 current_page_item focus">
                    <a href="afficheRecherche">Rechercher
                        un article</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="accederAuPanier">Panier</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/js/jplayer.js"></script>
{% endblock %}